# PlayStation 4 / PlayStation 5 DualShock/DualSense Controller Profile

input_driver = "dinput"
input_device = "PS4 Controller"
input_device_display_name = "PlayStation Controller"

# D-Pad
input_up_btn = "h0up"
input_down_btn = "h0down"
input_left_btn = "h0left"
input_right_btn = "h0right"

# Face buttons (Cross, Circle, Square, Triangle)
input_a_btn = "1"      # Cross
input_b_btn = "2"      # Circle
input_x_btn = "0"      # Square
input_y_btn = "3"      # Triangle

# Shoulder buttons
input_l_btn = "4"      # L1
input_r_btn = "5"      # R1
input_l2_axis = "+2"   # L2
input_r2_axis = "+5"   # R2

# Options/Share buttons
input_start_btn = "9"   # Options
input_select_btn = "8"  # Share/Create

# Analog stick clicks
input_l3_btn = "10"
input_r3_btn = "11"

# Left analog stick
input_l_x_plus_axis = "+0"
input_l_x_minus_axis = "-0"
input_l_y_plus_axis = "+1"
input_l_y_minus_axis = "-1"

# Right analog stick
input_r_x_plus_axis = "+3"
input_r_x_minus_axis = "-3"
input_r_y_plus_axis = "+4"
input_r_y_minus_axis = "-4"

# Hotkey (Share button)
input_enable_hotkey_btn = "8"

# Menu toggle (PS button)
input_menu_toggle_btn = "12"

# Touchpad click (DualShock 4/DualSense)
input_l2_btn = "6"
input_r2_btn = "7"
